#title {
  background-color: #ff4c68;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 75px;
  position: relative;
  left: -15px;
  bottom: 50px;
}
.container-fluid {
  padding: 3% 15%;
}
body {
  font-family: "Montserrat";
}
#title {
  color: #fff;
  padding: 40px;
}
.eraser {
  position: absolute;
  bottom: -365px;
  left: 75px;
}
.navbar {
  padding: 0 0 4.5rem;
  position: relative;
  bottom: 50px;
  left: -15px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.download-button {
  margin: 5% 3% 5% 0;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: 1.2rem;
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box {
  text-align: center;
  padding-left: 5%;
}
h3 {
  font-family: "Montserrat";
}
p {
  color: #8f8f8f;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
.btn {
  position: relative;
  left: -15px;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  padding-bottom: -25px;
}
h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  text-align: center;
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}
#pricing {
  padding: 100px;
}
.prices {
  padding: 2%;
}
.card {
  text-align: center;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .eraser {
    position: static;
    transform: rotate(0);
  }
}
#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 7% 15%;
}
.cta-heading {
  font-family: "Montserrat";

  font-size: 3.5rem;
  line-height: 1.5;
}
#footer {
  padding: 7% 15%;
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
  color: black;
}
.social-icon:hover {
  color: #ff4c68;
}
